In [5]:
import pandas as pd 
import mysql.connector
from mysql.connector import Error

In [7]:
# 부재료가공완료.csv 파일을 판다스로 읽어옵니다
df2 = pd.read_csv('부재료가공완료.csv', encoding='utf-8')


# df2 index를 1부터 시작하게 바꿔줍니다
df2.index = range(1, len(df2) + 1)
df2

FileNotFoundError: [Errno 2] No such file or directory: '부재료가공완료.csv'

In [8]:
df2 = df2["재료"]
# df2를 데이터프레임으로 바꿔줍니다
df2 = pd.DataFrame(df2)
df2

# df2를 리스트로 바꿔줍니다
df2_list = df2.values.tolist()

NameError: name 'df2' is not defined

In [ ]:
df2_list

# df2_list를 일반 리스트로 바꿔줍니다
df2_list = [i[0] for i in df2_list]

In [ ]:
df2_list

['소주잔',
 '맥주잔',
 '얼음',
 '토닉워터',
 '소주',
 '맥주',
 '흑맥주',
 '콜라',
 '사이다',
 '환타',
 '탄산수',
 '위스키',
 '레몬',
 '우유',
 '원두커피',
 '홍차',
 '봉봉',
 '밀키스',
 '블루레몬에이드',
 '이온음료',
 '망고주스',
 '홍초',
 '라임',
 '수박에이드',
 '메로나',
 '모구모구',
 '핫식스',
 '폴라포',
 '초코에몽',
 '미숫가루',
 '스크류바',
 '토마토주스',
 '오렌지주스',
 '피치트리',
 '매화수',
 '설레임',
 '아이스티',
 '요구르트',
 '깔루아',
 '오렌지',
 '데킬라',
 '체리',
 '소금',
 '젤리',
 '파인애플 통조림',
 '시럽',
 '예거',
 '꿀',
 '생수',
 '하이볼',
 '복분자',
 '우롱차',
 '레몬즙',
 '리큐어',
 '진저에일',
 '코코넛',
 '크림',
 '청포도',
 '막걸리',
 '맛밤',
 '쿨피스',
 '라거',
 '자몽',
 '깔라만시',
 '스파클링',
 '딸기우유',
 '아침햇살',
 '코코팜',
 '코코넛워터',
 '포도주스',
 '사과주스',
 '데미소다',
 '보리차',
 '비타500',
 '포도봉봉',
 '망고링고',
 '탄산',
 '레몬맛 탄산음료',
 '빨간과일식초',
 '파워에이드',
 '블루베리에이드',
 '오렌지쌕쌕',
 '복숭아봉봉',
 '요거풋풋',
 '기네스',
 '숙취음료',
 '파란이온음료',
 '탱크보이',
 '호가든',
 '화요',
 '양주']

In [ ]:
# 칵테일목록가공완료.csv파일을 판다스로 읽어옵니다
df = pd.read_csv('칵테일목록가공완료.csv', encoding='utf-8')
df.head()

# df의 index를 2부터 시작하게 바꿔줍니다
df.index = range(2, len(df) + 2)
df.head()

,title,ingredient1,ingredient2,ingredient3,ingre_ratio1,ingre_ratio2,ingre_ratio3,비율,레시피임시,레시피
2,블루레몬에이드밀키스주,소주,밀키스,블루레몬에이드,4,3.0,3.0,4:3:3,"소주, 밀키스, 블루레몬에이드","소주, 밀키스, 블루레몬에이드를 4:3:3 비율로 섞어서 만들어요"
3,탄산봉봉주,소주,포도봉봉,탄산수,4,3.0,3.0,4:3:3,"소주, 포도봉봉, 탄산수","소주, 포도봉봉, 탄산수를 4:3:3 비율로 섞어서 만들어요"
4,소망주,소주,망고링고,NaN,3,7.0,NaN,3:7,"소주, 망고링고","소주, 망고링고를 3:7 비율로 섞어서 만들어요"
5,탄산이온주,소주,탄산,이온음료,4,2.0,4.0,4:2:4,"소주, 탄산, 이온음료","소주, 탄산, 이온음료를 4:2:4 비율로 섞어서 만들어요"
6,레몬주,소주,레몬맛 탄산음료,NaN,4,6.0,NaN,4:6,"소주, 레몬맛 탄산음료","소주, 레몬맛 탄산음료를 4:6 비율로 섞어서 만들어요"

In [ ]:
df["ingredient1"]

# df["ingredient1"] 를 리스트로 바꿔줍니다
df1_list = df["ingredient1"].values.tolist()
df1_list

['소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '맥주',
 '위스키',
 '피치트리',
 '소주',
 '소주',
 '막걸리',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '소주',
 '호가든',
 '화요',
 '소주',
 '깔루아',
 '소주',
 '소주',
 '소주',
 '양주']

In [ ]:
# 크롬 드라이버 객체 생성
driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options) 
# 없는 재료를 저장할 리스트를 만듭니다
isNot = []
# df1과 df2의 비교한 값을 저장할 리스트를 만듭니다
df1_df2_list = []
# 이미지의 url을 저장할 리스트를 만듭니다
imgUrl = []
# df1_list와 df2_list의 값을 숫자를 매겨주면서 비교합니다
for i in range(len(df1_list)):
    print("--------", i, "번째 반복문 시작-----------")
    print(df1_list[i]+" 있을까요?")
    for j in range(len(df2_list)):
        if df1_list[i] == df2_list[j]:
            print(str(i)+"번째 " +df1_list[i] +" 는 "+str(j)+"번째 "+df2_list[j]+" 안에 있습니다")
            df1_df2_list.append(str(i)+","+str(j))
            
    if df1_list[i] not in df2_list: # df1_list[i]가 df2_list에 없으면
        print("없습니다")
        isNot.append(df1_list[i])
        # 구글 검색창에 내가입력한 keyword 검색한다.
        driver.get('https://www.google.com/')
        driver.find_element(By.NAME, 'q').send_keys(df1_list[i])
        driver.find_element(By.NAME, 'q').send_keys(Keys.ENTER)

        # 사진 검색
        driver.find_element(By.LINK_TEXT, '이미지').click() # link_text는 링크 텍스트를 찾는다. 

        # # 1번째 이미지 클릭
        # driver.find_element(By.CSS_SELECTOR, 'img.rg_i.Q4LuWd').click() # css_selector는 css 선택자를 찾는다.

        # 1번째 이미지의 링크 주소를 가져온다.
        img = driver.find_element(By.CSS_SELECTOR, 'img.rg_i.Q4LuWd')
        img_src = img.get_attribute('src')

        # 이미지의 링크 주소를 리스트에 저장한다.
        imgUrl.append(df1_list[i]+","+ img_src)

-------- 0 번째 반복문 시작-----------
소주 있을까요?
0번째 소주 는 4번째 소주 안에 있습니다
-------- 1 번째 반복문 시작-----------
소주 있을까요?
1번째 소주 는 4번째 소주 안에 있습니다
-------- 2 번째 반복문 시작-----------
소주 있을까요?
2번째 소주 는 4번째 소주 안에 있습니다
-------- 3 번째 반복문 시작-----------
소주 있을까요?
3번째 소주 는 4번째 소주 안에 있습니다
-------- 4 번째 반복문 시작-----------
소주 있을까요?
4번째 소주 는 4번째 소주 안에 있습니다
-------- 5 번째 반복문 시작-----------
소주 있을까요?
5번째 소주 는 4번째 소주 안에 있습니다
-------- 6 번째 반복문 시작-----------
소주 있을까요?
6번째 소주 는 4번째 소주 안에 있습니다
-------- 7 번째 반복문 시작-----------
소주 있을까요?
7번째 소주 는 4번째 소주 안에 있습니다
-------- 8 번째 반복문 시작-----------
소주 있을까요?
8번째 소주 는 4번째 소주 안에 있습니다
-------- 9 번째 반복문 시작-----------
소주 있을까요?
9번째 소주 는 4번째 소주 안에 있습니다
-------- 10 번째 반복문 시작-----------
소주 있을까요?
10번째 소주 는 4번째 소주 안에 있습니다
-------- 11 번째 반복문 시작-----------
소주 있을까요?
11번째 소주 는 4번째 소주 안에 있습니다
-------- 12 번째 반복문 시작-----------
소주 있을까요?
12번째 소주 는 4번째 소주 안에 있습니다
-------- 13 번째 반복문 시작-----------
소주 있을까요?
13번째 소주 는 4번째 소주 안에 있습니다
-------- 14 번째 반복문 시작-----------
소주 있을까요?
14번째 소주 는 4번째 소주 안에 있습니다
-------- 15 번째 반복문 시작-----------
소주 있을까요?
15번째 소주 는 4번째 소주 안에 있습니다
-------- 16 번째 반복문 시작-----------
소주 있을까요?
16번째 소주 는 4번째 소주 안에 있습니다
-------- 17 번째 반복문 시작-----------
소주 있을까요?
17번째 소주 는 4번째 소주 안에 있습니다
-------- 18 번째 반복문 시작-----------
소주 있을까요?
18번째 소주 는 4번째 소주 안에 있습니다
-------- 19 번째 반복문 시작-----------
소주 있을까요?
19번째 소주 는 4번째 소주 안에 있습니다
-------- 20 번째 반복문 시작-----------
소주 있을까요?
20번째 소주 는 4번째 소주 안에 있습니다
-------- 21 번째 반복문 시작-----------
소주 있을까요?
21번째 소주 는 4번째 소주 안에 있습니다
-------- 22 번째 반복문 시작-----------
맥주 있을까요?
22번째 맥주 는 5번째 맥주 안에 있습니다
-------- 23 번째 반복문 시작-----------
위스키 있을까요?
23번째 위스키 는 11번째 위스키 안에 있습니다
-------- 24 번째 반복문 시작-----------
피치트리 있을까요?
24번째 피치트리 는 33번째 피치트리 안에 있습니다
-------- 25 번째 반복문 시작-----------
소주 있을까요?
25번째 소주 는 4번째 소주 안에 있습니다
-------- 26 번째 반복문 시작-----------
소주 있을까요?
26번째 소주 는 4번째 소주 안에 있습니다
-------- 27 번째 반복문 시작-----------
막걸리 있을까요?
27번째 막걸리 는 58번째 막걸리 안에 있습니다
-------- 28 번째 반복문 시작-----------
소주 있을까요?
28번째 소주 는 4번째 소주 안에 있습니다
-------- 29 번째 반복문 시작-----------
소주 있을까요?
29번째 소주 는 4번째 소주 안에 있습니다
-------- 30 번째 반복문 시작-----------
소주 있을까요?
30번째 소주 는 4번째 소주 안에 있습니다
-------- 31 번째 반복문 시작-----------
소주 있을까요?
31번째 소주 는 4번째 소주 안에 있습니다
-------- 32 번째 반복문 시작-----------
소주 있을까요?
32번째 소주 는 4번째 소주 안에 있습니다
-------- 33 번째 반복문 시작-----------
소주 있을까요?
33번째 소주 는 4번째 소주 안에 있습니다
-------- 34 번째 반복문 시작-----------
소주 있을까요?
34번째 소주 는 4번째 소주 안에 있습니다
-------- 35 번째 반복문 시작-----------
소주 있을까요?
35번째 소주 는 4번째 소주 안에 있습니다
-------- 36 번째 반복문 시작-----------
호가든 있을까요?
36번째 호가든 는 88번째 호가든 안에 있습니다
-------- 37 번째 반복문 시작-----------
화요 있을까요?
37번째 화요 는 89번째 화요 안에 있습니다
-------- 38 번째 반복문 시작-----------
소주 있을까요?
38번째 소주 는 4번째 소주 안에 있습니다
-------- 39 번째 반복문 시작-----------
깔루아 있을까요?
39번째 깔루아 는 38번째 깔루아 안에 있습니다
-------- 40 번째 반복문 시작-----------
소주 있을까요?
40번째 소주 는 4번째 소주 안에 있습니다
-------- 41 번째 반복문 시작-----------
소주 있을까요?
41번째 소주 는 4번째 소주 안에 있습니다
-------- 42 번째 반복문 시작-----------
소주 있을까요?
42번째 소주 는 4번째 소주 안에 있습니다
-------- 43 번째 반복문 시작-----------
양주 있을까요?
43번째 양주 는 90번째 양주 안에 있습니다

In [ ]:
isNot

[]

In [ ]:
# 가져온 이미지의 링크 주소를 csv 파일에 저장한다.
with open('imgUrl.csv', 'w', encoding='utf-8') as f:
    for i in imgUrl:
        f.write(i + '\n')

In [ ]:
import base64
for i in range(len(imgUrl)):


    img_data = base64.b64decode(imgUrl[i].split(',')[2])  # split(',')[1]은 base64로 인코딩된 이미지만 가져온다. 
    keyword = imgUrl[i].split(',')[0]
    # myimages폴더가 없으면 생성한다.
    if not os.path.exists('myimages'): # os.path.exists는 폴더가 있는지 확인한다.
        os.makedirs('myimages') # os.makedirs는 폴더를 생성한다.

    # 디코딩된 이미지를 저장한다.
    with open(f'myimages/{keyword}.png', 'wb') as f: # wb는 write binary
        f.write(img_data)

In [ ]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd
import numpy as np
import csv
import os
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.alert import Alert # 경고창
from selenium.webdriver.chrome.options import Options # 크롬 드라이버 자동 설치
from selenium.webdriver.chrome.service import Service # 크롬 드라이버 자동 설치
from webdriver_manager.chrome import ChromeDriverManager # 크롬 드라이버 자동 설치

In [ ]:
# 구글 드라이버를 사용하기 위한 설정
options = webdriver.ChromeOptions() # 크롬 옵션 객체 생성
# options.add_argument("headless") # 창 숨기기
options.add_argument('window-size=1920x1080') # 창 크기 설정
options.add_argument("disable-gpu") # GPU 사용 안함
options.add_argument("lang=ko_KR") # 언어 설정

In [ ]:
isNot

['호가든', '화요', '양주']

In [ ]:
df1_df2_list

['0,4',
 '1,4',
 '2,4',
 '3,4',
 '4,4',
 '5,4',
 '6,4',
 '7,4',
 '8,4',
 '9,4',
 '10,4',
 '11,4',
 '12,4',
 '13,4',
 '14,4',
 '15,4',
 '16,4',
 '17,4',
 '18,4',
 '19,4',
 '20,4',
 '21,4',
 '22,5',
 '23,11',
 '24,33',
 '25,4',
 '26,4',
 '27,58',
 '28,4',
 '29,4',
 '30,4',
 '31,4',
 '32,4',
 '33,4',
 '34,4',
 '35,4',
 '36,88',
 '37,89',
 '38,4',
 '39,38',
 '40,4',
 '41,4',
 '42,4',
 '43,90']

In [ ]:
df["ingredient2"]

# df["ingredient1"] 를 리스트로 바꿔줍니다
df3_list = df["ingredient2"].values.tolist()
df3_list

['밀키스',
 '포도봉봉',
 '망고링고',
 '탄산',
 '레몬맛 탄산음료',
 '밀키스',
 '빨간과일식초',
 '모구모구',
 '맥주',
 '파워에이드',
 '젤리',
 '메로나',
 '폴라포',
 '맥주',
 '초코에몽',
 '홍초',
 '미숫가루',
 '스크류바',
 '맥주',
 '맥주',
 '블루베리에이드',
 '수박에이드',
 '사이다',
 '탄산수',
 '오렌지주스',
 '원두커피',
 '매화수',
 '설레임',
 '탄산수',
 '오렌지쌕쌕',
 '아이스티',
 '복숭아봉봉',
 '요거풋풋',
 '요구르트',
 '토닉워터',
 '홍초',
 '기네스',
 '토닉워터',
 '홍차',
 '우유',
 '스크류바',
 '사이다',
 '사이다',
 '숙취음료']

In [ ]:
# 없는 재료를 저장할 리스트를 만듭니다
isNot = []
# 있는 재료를 저장할 리스트를 만듭니다
df3_df2_list = []
# df1_list와 df2_list의 값을 숫자를 매겨주면서 비교합니다
for i in range(len(df3_list)):
    print("--------", i, "번째 반복문 시작-----------")
    print(df3_list[i]+" 있을까요?")
    for j in range(len(df2_list)):
        if df3_list[i] == df2_list[j]:
            print(str(i)+"번째 " +df3_list[i] +" 는 "+str(j)+"번째 "+df2_list[j]+" 안에 있습니다")
            df3_df2_list.append(str(i)+","+str(j))
    if df3_list[i] not in df2_list:
        print("없습니다")
        isNot.append(df3_list[i])

-------- 0 번째 반복문 시작-----------
밀키스 있을까요?
0번째 밀키스 는 17번째 밀키스 안에 있습니다
-------- 1 번째 반복문 시작-----------
포도봉봉 있을까요?
1번째 포도봉봉 는 74번째 포도봉봉 안에 있습니다
-------- 2 번째 반복문 시작-----------
망고링고 있을까요?
2번째 망고링고 는 75번째 망고링고 안에 있습니다
-------- 3 번째 반복문 시작-----------
탄산 있을까요?
3번째 탄산 는 76번째 탄산 안에 있습니다
-------- 4 번째 반복문 시작-----------
레몬맛 탄산음료 있을까요?
4번째 레몬맛 탄산음료 는 77번째 레몬맛 탄산음료 안에 있습니다
-------- 5 번째 반복문 시작-----------
밀키스 있을까요?
5번째 밀키스 는 17번째 밀키스 안에 있습니다
-------- 6 번째 반복문 시작-----------
빨간과일식초 있을까요?
6번째 빨간과일식초 는 78번째 빨간과일식초 안에 있습니다
-------- 7 번째 반복문 시작-----------
모구모구 있을까요?
7번째 모구모구 는 25번째 모구모구 안에 있습니다
-------- 8 번째 반복문 시작-----------
맥주 있을까요?
8번째 맥주 는 5번째 맥주 안에 있습니다
-------- 9 번째 반복문 시작-----------
파워에이드 있을까요?
9번째 파워에이드 는 79번째 파워에이드 안에 있습니다
-------- 10 번째 반복문 시작-----------
젤리 있을까요?
10번째 젤리 는 43번째 젤리 안에 있습니다
-------- 11 번째 반복문 시작-----------
메로나 있을까요?
11번째 메로나 는 24번째 메로나 안에 있습니다
-------- 12 번째 반복문 시작-----------
폴라포 있을까요?
12번째 폴라포 는 27번째 폴라포 안에 있습니다
-------- 13 번째 반복문 시작-----------
맥주 있을까요?
13번째 맥주 는 5번째 맥주 안에 있습니다
-------- 14 번째 반복문 시작-----------
초코에몽 있을까요?
14번째 초코에몽 는 28번째 초코에몽 안에 있습니다
-------- 15 번째 반복문 시작-----------
홍초 있을까요?
15번째 홍초 는 21번째 홍초 안에 있습니다
-------- 16 번째 반복문 시작-----------
미숫가루 있을까요?
16번째 미숫가루 는 29번째 미숫가루 안에 있습니다
-------- 17 번째 반복문 시작-----------
스크류바 있을까요?
17번째 스크류바 는 30번째 스크류바 안에 있습니다
-------- 18 번째 반복문 시작-----------
맥주 있을까요?
18번째 맥주 는 5번째 맥주 안에 있습니다
-------- 19 번째 반복문 시작-----------
맥주 있을까요?
19번째 맥주 는 5번째 맥주 안에 있습니다
-------- 20 번째 반복문 시작-----------
블루베리에이드 있을까요?
20번째 블루베리에이드 는 80번째 블루베리에이드 안에 있습니다
-------- 21 번째 반복문 시작-----------
수박에이드 있을까요?
21번째 수박에이드 는 23번째 수박에이드 안에 있습니다
-------- 22 번째 반복문 시작-----------
사이다 있을까요?
22번째 사이다 는 8번째 사이다 안에 있습니다
-------- 23 번째 반복문 시작-----------
탄산수 있을까요?
23번째 탄산수 는 10번째 탄산수 안에 있습니다
-------- 24 번째 반복문 시작-----------
오렌지주스 있을까요?
24번째 오렌지주스 는 32번째 오렌지주스 안에 있습니다
-------- 25 번째 반복문 시작-----------
원두커피 있을까요?
25번째 원두커피 는 14번째 원두커피 안에 있습니다
-------- 26 번째 반복문 시작-----------
매화수 있을까요?
26번째 매화수 는 34번째 매화수 안에 있습니다
-------- 27 번째 반복문 시작-----------
설레임 있을까요?
27번째 설레임 는 35번째 설레임 안에 있습니다
-------- 28 번째 반복문 시작-----------
탄산수 있을까요?
28번째 탄산수 는 10번째 탄산수 안에 있습니다
-------- 29 번째 반복문 시작-----------
오렌지쌕쌕 있을까요?
29번째 오렌지쌕쌕 는 81번째 오렌지쌕쌕 안에 있습니다
-------- 30 번째 반복문 시작-----------
아이스티 있을까요?
30번째 아이스티 는 36번째 아이스티 안에 있습니다
-------- 31 번째 반복문 시작-----------
복숭아봉봉 있을까요?
31번째 복숭아봉봉 는 82번째 복숭아봉봉 안에 있습니다
-------- 32 번째 반복문 시작-----------
요거풋풋 있을까요?
32번째 요거풋풋 는 83번째 요거풋풋 안에 있습니다
-------- 33 번째 반복문 시작-----------
요구르트 있을까요?
33번째 요구르트 는 37번째 요구르트 안에 있습니다
-------- 34 번째 반복문 시작-----------
토닉워터 있을까요?
34번째 토닉워터 는 3번째 토닉워터 안에 있습니다
-------- 35 번째 반복문 시작-----------
홍초 있을까요?
35번째 홍초 는 21번째 홍초 안에 있습니다
-------- 36 번째 반복문 시작-----------
기네스 있을까요?
36번째 기네스 는 84번째 기네스 안에 있습니다
-------- 37 번째 반복문 시작-----------
토닉워터 있을까요?
37번째 토닉워터 는 3번째 토닉워터 안에 있습니다
-------- 38 번째 반복문 시작-----------
홍차 있을까요?
38번째 홍차 는 15번째 홍차 안에 있습니다
-------- 39 번째 반복문 시작-----------
우유 있을까요?
39번째 우유 는 13번째 우유 안에 있습니다
-------- 40 번째 반복문 시작-----------
스크류바 있을까요?
40번째 스크류바 는 30번째 스크류바 안에 있습니다
-------- 41 번째 반복문 시작-----------
사이다 있을까요?
41번째 사이다 는 8번째 사이다 안에 있습니다
-------- 42 번째 반복문 시작-----------
사이다 있을까요?
42번째 사이다 는 8번째 사이다 안에 있습니다
-------- 43 번째 반복문 시작-----------
숙취음료 있을까요?
43번째 숙취음료 는 85번째 숙취음료 안에 있습니다

In [ ]:
print (len(df3_df2_list))
print(len(df1_df2_list))

44
44

In [ ]:
# # df를 mysql에 넣기 위해 리스트로 바꿔줍니다
# df = df.values.tolist()
# df

# mysql에 연결합니다
import pymysql 

# MySQL Connection 연결
conn = pymysql.connect(host=Config.HOST, user=Config.DB_USER, password=Config.DB_PASSWORD, db=Config.DATABASE, charset='utf8')

# Connection 으로부터 Cursor 생성
curs = conn.cursor()

# SQL문 실행 name, imgUrl
sql = "insert into ingredient(name, imgUrl) values('양주', 'https://i.imgur.com/1ZQ3Z9M.png')"
curs.execute(sql)

conn.commit()
conn.close()
curs.close()

In [ ]:
df4_list = df["ingredient3"].values.tolist()
df4_list

['블루레몬에이드',
 '탄산수',
 nan,
 '이온음료',
 nan,
 nan,
 '파란이온음료',
 nan,
 '밀키스',
 '핫식스',
 nan,
 '사이다',
 '사이다',
 nan,
 nan,
 '사이다',
 nan,
 '사이다',
 '콜라',
 '사이다',
 nan,
 nan,
 '토마토주스',
 nan,
 nan,
 nan,
 nan,
 nan,
 '봉봉',
 nan,
 nan,
 nan,
 nan,
 '사이다',
 nan,
 nan,
 nan,
 '레몬',
 nan,
 nan,
 '사이다',
 '복분자',
 '탱크보이',
 '이온음료']

In [ ]:
len(df4_list)

44

In [ ]:
# 없는 재료를 저장할 리스트를 만듭니다
isNot = []
# 있는 재료를 저장할 리스트를 만듭니다
df4_df2_list = []
# df1_list와 df2_list의 값을 숫자를 매겨주면서 비교합니다
for i in range(len(df4_list)):

    if type(df4_list[i]) == float: # df1_list[i]가 nan값이면
        print("nan값이 있습니다")
        continue # 다음 반복문으로 넘어갑니다
    # continue를 만나면 아래 코드는 실행되지 않습니다

    print("--------", i, "번째 반복문 시작-----------")
    print(df4_list[i]+" 있을까요?")
    for j in range(len(df2_list)):
        if df4_list[i] == df2_list[j]:
            print(str(i)+"번째 " +df4_list[i] +" 는 "+str(j)+"번째 "+df2_list[j]+" 안에 있습니다")
            df4_df2_list.append(str(i)+","+str(j))
    if df4_list[i] not in df2_list: 
        print("없습니다")
        isNot.append(df4_list[i])

-------- 0 번째 반복문 시작-----------
블루레몬에이드 있을까요?
0번째 블루레몬에이드 는 18번째 블루레몬에이드 안에 있습니다
-------- 1 번째 반복문 시작-----------
탄산수 있을까요?
1번째 탄산수 는 10번째 탄산수 안에 있습니다
nan값이 있습니다
-------- 3 번째 반복문 시작-----------
이온음료 있을까요?
3번째 이온음료 는 19번째 이온음료 안에 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 6 번째 반복문 시작-----------
파란이온음료 있을까요?
6번째 파란이온음료 는 86번째 파란이온음료 안에 있습니다
nan값이 있습니다
-------- 8 번째 반복문 시작-----------
밀키스 있을까요?
8번째 밀키스 는 17번째 밀키스 안에 있습니다
-------- 9 번째 반복문 시작-----------
핫식스 있을까요?
9번째 핫식스 는 26번째 핫식스 안에 있습니다
nan값이 있습니다
-------- 11 번째 반복문 시작-----------
사이다 있을까요?
11번째 사이다 는 8번째 사이다 안에 있습니다
-------- 12 번째 반복문 시작-----------
사이다 있을까요?
12번째 사이다 는 8번째 사이다 안에 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 15 번째 반복문 시작-----------
사이다 있을까요?
15번째 사이다 는 8번째 사이다 안에 있습니다
nan값이 있습니다
-------- 17 번째 반복문 시작-----------
사이다 있을까요?
17번째 사이다 는 8번째 사이다 안에 있습니다
-------- 18 번째 반복문 시작-----------
콜라 있을까요?
18번째 콜라 는 7번째 콜라 안에 있습니다
-------- 19 번째 반복문 시작-----------
사이다 있을까요?
19번째 사이다 는 8번째 사이다 안에 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 22 번째 반복문 시작-----------
토마토주스 있을까요?
22번째 토마토주스 는 31번째 토마토주스 안에 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 28 번째 반복문 시작-----------
봉봉 있을까요?
28번째 봉봉 는 16번째 봉봉 안에 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 33 번째 반복문 시작-----------
사이다 있을까요?
33번째 사이다 는 8번째 사이다 안에 있습니다
nan값이 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 37 번째 반복문 시작-----------
레몬 있을까요?
37번째 레몬 는 12번째 레몬 안에 있습니다
nan값이 있습니다
nan값이 있습니다
-------- 40 번째 반복문 시작-----------
사이다 있을까요?
40번째 사이다 는 8번째 사이다 안에 있습니다
-------- 41 번째 반복문 시작-----------
복분자 있을까요?
41번째 복분자 는 50번째 복분자 안에 있습니다
-------- 42 번째 반복문 시작-----------
탱크보이 있을까요?
42번째 탱크보이 는 87번째 탱크보이 안에 있습니다
-------- 43 번째 반복문 시작-----------
이온음료 있을까요?
43번째 이온음료 는 19번째 이온음료 안에 있습니다

In [ ]:
print(len(df1_df2_list))
print(len(df3_df2_list))
print(len(df4_df2_list))

44
44
20

In [ ]:
ingredient1 = df1_df2_list

In [ ]:
ingredient2 = df3_df2_list

In [ ]:
ingredient3 = df4_df2_list

In [ ]:
ingredient1
# 데이터프레임으로 만들기
df1 = pd.DataFrame({'ingredient1':ingredient1})
df1

   ingredient1
0          0,4
1          1,4
2          2,4
3          3,4
4          4,4
5          5,4
6          6,4
7          7,4
8          8,4
9          9,4
10        10,4
11        11,4
12        12,4
13        13,4
14        14,4
15        15,4
16        16,4
17        17,4
18        18,4
19        19,4
20        20,4
21        21,4
22        22,5
23       23,11
24       24,33
25        25,4
26        26,4
27       27,58
28        28,4
29        29,4
30        30,4
31        31,4
32        32,4
33        33,4
34        34,4
35        35,4
36       36,88
37       37,89
38        38,4
39       39,38
40        40,4
41        41,4
42        42,4
43       43,90

In [ ]:
# 데이터프레임으로 만들기
df2 = pd.DataFrame({'ingredient2':ingredient2})
df2

   ingredient2
0         0,17
1         1,74
2         2,75
3         3,76
4         4,77
5         5,17
6         6,78
7         7,25
8          8,5
9         9,79
10       10,43
11       11,24
12       12,27
13        13,5
14       14,28
15       15,21
16       16,29
17       17,30
18        18,5
19        19,5
20       20,80
21       21,23
22        22,8
23       23,10
24       24,32
25       25,14
26       26,34
27       27,35
28       28,10
29       29,81
30       30,36
31       31,82
32       32,83
33       33,37
34        34,3
35       35,21
36       36,84
37        37,3
38       38,15
39       39,13
40       40,30
41        41,8
42        42,8
43       43,85

In [ ]:
ingredient2
# 데이터프레임으로 만들기
df3 = pd.DataFrame({'ingredient3':ingredient3})
df3

   ingredient3
0         0,18
1         1,10
2         3,19
3         6,86
4         8,17
5         9,26
6         11,8
7         12,8
8         15,8
9         17,8
10        18,7
11        19,8
12       22,31
13       28,16
14        33,8
15       37,12
16        40,8
17       41,50
18       42,87
19       43,19

In [ ]:
ingredient3

['0,18',
 '1,10',
 '3,19',
 '6,86',
 '8,17',
 '9,26',
 '11,8',
 '12,8',
 '15,8',
 '17,8',
 '18,7',
 '19,8',
 '22,31',
 '28,16',
 '33,8',
 '37,12',
 '40,8',
 '41,50',
 '42,87',
 '43,19']

In [ ]:
# df3의 ingredient3 컬럼을 ","를 기준으로 나눠서 ingredient3_1, ingredient3_2 컬럼을 만듭니다
df3[['ingredient3_1', 'ingredient3_2']] = df3['ingredient3'].str.split(',', expand=True) # expand=True는 나눈 값을 각각의 컬럼으로 만들어줍니다
df4 = df3

In [ ]:
df4
# df4의 ingredient3컬럼을 제거하고 ingredient3_1컬럼을 index로 만듭니다
df4 = df4.drop(['ingredient3'], axis=1)
df4 = df4.set_index('ingredient3_1')
df4
# df4의 컬럼이 spycies 컬럼이므로 일반 컬럼으로 만들어줍니다
df4 = df4.reset_index()
df4

KeyError: "['ingredient3'] not found in axis"

In [ ]:
df4 = df4.reset_index()
df4

   ingredient3_1 ingredient3_2
0              0            18
1              1            10
2              3            19
3              6            86
4              8            17
5              9            26
6             11             8
7             12             8
8             15             8
9             17             8
10            18             7
11            19             8
12            22            31
13            28            16
14            33             8
15            37            12
16            40             8
17            41            50
18            42            87
19            43            19

In [ ]:
# 인덱스의 이름을 제거합니다
df4.index.name = None
df4

   ingredient3_2
0             18
1             10
3             19
6             86
8             17
9             26
11             8
12             8
15             8
17             8
18             7
19             8
22            31
28            16
33             8
37            12
40             8
41            50
42            87
43            19

In [ ]:
df3 = df3[["ingredient3_1","ingredient3_2"]]

In [ ]:
df3

   ingredient3_1 ingredient3_2
0              0            18
1              1            10
2              3            19
3              6            86
4              8            17
5              9            26
6             11             8
7             12             8
8             15             8
9             17             8
10            18             7
11            19             8
12            22            31
13            28            16
14            33             8
15            37            12
16            40             8
17            41            50
18            42            87
19            43            19

In [ ]:
df3
# df1과 df2를 합칩니다
df5 = pd.merge(df1, df2, how='outer', left_index=True, right_index=True)
df5

   ingredient1 ingredient2
0          0,4        0,17
1          1,4        1,74
2          2,4        2,75
3          3,4        3,76
4          4,4        4,77
5          5,4        5,17
6          6,4        6,78
7          7,4        7,25
8          8,4         8,5
9          9,4        9,79
10        10,4       10,43
11        11,4       11,24
12        12,4       12,27
13        13,4        13,5
14        14,4       14,28
15        15,4       15,21
16        16,4       16,29
17        17,4       17,30
18        18,4        18,5
19        19,4        19,5
20        20,4       20,80
21        21,4       21,23
22        22,5        22,8
23       23,11       23,10
24       24,33       24,32
25        25,4       25,14
26        26,4       26,34
27       27,58       27,35
28        28,4       28,10
29        29,4       29,81
30        30,4       30,36
31        31,4       31,82
32        32,4       32,83
33        33,4       33,37
34        34,4        34,3
35        35,4       35,21
36       36,88       36,84
37       37,89        37,3
38        38,4       38,15
39       39,38       39,13
40        40,4       40,30
41        41,4        41,8
42        42,4        42,8
43       43,90       43,85

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 1 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ingredient1  44 non-null     object
dtypes: object(1)
memory usage: 480.0+ bytes

In [ ]:
# df5와 df3를 합치지만 df3의 ingredient3_1컬럼과 df5의 index가 같아야 합니다
df6 = pd.merge(df5, df3, how='outer', left_index=True, right_on='ingredient3_1')
df6

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [ ]:
# df1과 df2와 df4의 모든 데이터를 합칩니다
df5 = pd.concat([df1, df2, df4], axis=1)
df5

   ingredient1 ingredient2 ingredient3_2
0          0,4        0,17           NaN
1          1,4        1,74           NaN
2          2,4        2,75           NaN
3          3,4        3,76           NaN
4          4,4        4,77           NaN
5          5,4        5,17           NaN
6          6,4        6,78           NaN
7          7,4        7,25           NaN
8          8,4         8,5           NaN
9          9,4        9,79           NaN
10        10,4       10,43           NaN
11        11,4       11,24           NaN
12        12,4       12,27           NaN
13        13,4        13,5           NaN
14        14,4       14,28           NaN
15        15,4       15,21           NaN
16        16,4       16,29           NaN
17        17,4       17,30           NaN
18        18,4        18,5           NaN
19        19,4        19,5           NaN
20        20,4       20,80           NaN
21        21,4       21,23           NaN
22        22,5        22,8           NaN
23       23,11       23,10           NaN
24       24,33       24,32           NaN
25        25,4       25,14           NaN
26        26,4       26,34           NaN
27       27,58       27,35           NaN
28        28,4       28,10           NaN
29        29,4       29,81           NaN
30        30,4       30,36           NaN
31        31,4       31,82           NaN
32        32,4       32,83           NaN
33        33,4       33,37           NaN
34        34,4        34,3           NaN
35        35,4       35,21           NaN
36       36,88       36,84           NaN
37       37,89        37,3           NaN
38        38,4       38,15           NaN
39       39,38       39,13           NaN
40        40,4       40,30           NaN
41        41,4        41,8           NaN
42        42,4        42,8           NaN
43       43,90       43,85           NaN
0          NaN         NaN            18
1          NaN         NaN            10
3          NaN         NaN            19
6          NaN         NaN            86
8          NaN         NaN            17
9          NaN         NaN            26
11         NaN         NaN             8
12         NaN         NaN             8
15         NaN         NaN             8
17         NaN         NaN             8
18         NaN         NaN             7
19         NaN         NaN             8
22         NaN         NaN            31
28         NaN         NaN            16
33         NaN         NaN             8
37         NaN         NaN            12
40         NaN         NaN             8
41         NaN         NaN            50
42         NaN         NaN            87
43         NaN         NaN            19

In [ ]:
df4

   ingredient3_2
0             18
1             10
3             19
6             86
8             17
9             26
11             8
12             8
15             8
17             8
18             7
19             8
22            31
28            16
33             8
37            12
40             8
41            50
42            87
43            19

In [ ]:
# df1["ingredient1"] ","를 기준으로 나눠서 ingredient1_1, ingredient1_2 컬럼을 만듭니다
df1[['ingredient1_1', 'ingredient1_2']] = df1['ingredient1'].str.split(',', expand=True) # expand=True는 나눈 값을 각각의 컬럼으로 만들어줍니다
df1

   ingredient1 ingredient1_1 ingredient1_2
0          0,4             0             4
1          1,4             1             4
2          2,4             2             4
3          3,4             3             4
4          4,4             4             4
5          5,4             5             4
6          6,4             6             4
7          7,4             7             4
8          8,4             8             4
9          9,4             9             4
10        10,4            10             4
11        11,4            11             4
12        12,4            12             4
13        13,4            13             4
14        14,4            14             4
15        15,4            15             4
16        16,4            16             4
17        17,4            17             4
18        18,4            18             4
19        19,4            19             4
20        20,4            20             4
21        21,4            21             4
22        22,5            22             5
23       23,11            23            11
24       24,33            24            33
25        25,4            25             4
26        26,4            26             4
27       27,58            27            58
28        28,4            28             4
29        29,4            29             4
30        30,4            30             4
31        31,4            31             4
32        32,4            32             4
33        33,4            33             4
34        34,4            34             4
35        35,4            35             4
36       36,88            36            88
37       37,89            37            89
38        38,4            38             4
39       39,38            39            38
40        40,4            40             4
41        41,4            41             4
42        42,4            42             4
43       43,90            43            90

In [ ]:
# df2["ingredient2"] ","를 기준으로 나눠서 ingredient2_1, ingredient2_2 컬럼을 만듭니다
df2[['ingredient2_1', 'ingredient2_2']] = df2['ingredient2'].str.split(',', expand=True) # expand=True는 나눈 값을 각각의 컬럼으로 만들어줍니다
df2

   ingredient2 ingredient2_1 ingredient2_2
0         0,17             0            17
1         1,74             1            74
2         2,75             2            75
3         3,76             3            76
4         4,77             4            77
5         5,17             5            17
6         6,78             6            78
7         7,25             7            25
8          8,5             8             5
9         9,79             9            79
10       10,43            10            43
11       11,24            11            24
12       12,27            12            27
13        13,5            13             5
14       14,28            14            28
15       15,21            15            21
16       16,29            16            29
17       17,30            17            30
18        18,5            18             5
19        19,5            19             5
20       20,80            20            80
21       21,23            21            23
22        22,8            22             8
23       23,10            23            10
24       24,32            24            32
25       25,14            25            14
26       26,34            26            34
27       27,35            27            35
28       28,10            28            10
29       29,81            29            81
30       30,36            30            36
31       31,82            31            82
32       32,83            32            83
33       33,37            33            37
34        34,3            34             3
35       35,21            35            21
36       36,84            36            84
37        37,3            37             3
38       38,15            38            15
39       39,13            39            13
40       40,30            40            30
41        41,8            41             8
42        42,8            42             8
43       43,85            43            85

In [ ]:
# df1과 df2를 합칩니다
df7 = pd.merge(df1, df2, how='outer', left_index=True, right_index=True)
df7

,ingredient1,ingredient1_1,ingredient1_2,ingredient2,ingredient2_1,ingredient2_2
0,"0,4",0,4,"0,17",0,17
1,"1,4",1,4,"1,74",1,74
2,"2,4",2,4,"2,75",2,75
3,"3,4",3,4,"3,76",3,76
4,"4,4",4,4,"4,77",4,77
5,"5,4",5,4,"5,17",5,17
6,"6,4",6,4,"6,78",6,78
7,"7,4",7,4,"7,25",7,25
8,"8,4",8,4,"8,5",8,5
9,"9,4",9,4,"9,79",9,79
10,"10,4",10,4,"10,43",10,43
11,"11,4",11,4,"11,24",11,24
12,"12,4",12,4,"12,27",12,27
13,"13,4",13,4,"13,5",13,5
14,"14,4",14,4,"14,28",14,28
15,"15,4",15,4,"15,21",15,21
16,"16,4",16,4,"16,29",16,29
17,"17,4",17,4,"17,30",17,30
18,"18,4",18,4,"18,5",18,5
19,"19,4",19,4,"19,5",19,5
20,"20,4",20,4,"20,80",20,80
21,"21,4",21,4,"21,23",21,23
22,"22,5",22,5,"22,8",22,8
23,"23,11",23,11,"23,10",23,10
24,"24,33",24,33,"24,32",24,32
25,"25,4",25,4,"25,14",25,14
26,"26,4",26,4,"26,34",26,34
27,"27,58",27,58,"27,35",27,35
28,"28,4",28,4,"28,10",28,10
29,"29,4",29,4,"29,81",29,81
30,"30,4",30,4,"30,36",30,36
31,"31,4",31,4,"31,82",31,82
32,"32,4",32,4,"32,83",32,83
33,"33,4",33,4,"33,37",33,37
34,"34,4",34,4,"34,3",34,3
35,"35,4",35,4,"35,21",35,21
36,"36,88",36,88,"36,84",36,84
37,"37,89",37,89,"37,3",37,3
38,"38,4",38,4,"38,15",38,15
39,"39,38",39,38,"39,13",39,13
40,"40,4",40,4,"40,30",40,30
41,"41,4",41,4,"41,8",41,8
42,"42,4",42,4,"42,8",42,8
43,"43,90",43,90,"43,85",43,85

In [ ]:
# df7[["ingredient1","ingredient2"]]는 필요가 없으므로 제거합니다
# df7 = df7.drop(['ingredient1','ingredient2'], axis=1)
df7 = df7.drop(['ingredient1_1','ingredient2_1'], axis=1)
df7

   ingredient1_2 ingredient2_2
0              4            17
1              4            74
2              4            75
3              4            76
4              4            77
5              4            17
6              4            78
7              4            25
8              4             5
9              4            79
10             4            43
11             4            24
12             4            27
13             4             5
14             4            28
15             4            21
16             4            29
17             4            30
18             4             5
19             4             5
20             4            80
21             4            23
22             5             8
23            11            10
24            33            32
25             4            14
26             4            34
27            58            35
28             4            10
29             4            81
30             4            36
31             4            82
32             4            83
33             4            37
34             4             3
35             4            21
36            88            84
37            89             3
38             4            15
39            38            13
40             4            30
41             4             8
42             4             8
43            90            85

In [ ]:
# df7과 df3를 합칩니다
df8 = pd.merge(df7, df3, how='outer', left_index=True, right_index=True)
df8

   ingredient1_2 ingredient2_2 ingredient3_1 ingredient3_2
0              4            17             0            18
1              4            74             1            10
2              4            75             3            19
3              4            76             6            86
4              4            77             8            17
5              4            17             9            26
6              4            78            11             8
7              4            25            12             8
8              4             5            15             8
9              4            79            17             8
10             4            43            18             7
11             4            24            19             8
12             4            27            22            31
13             4             5            28            16
14             4            28            33             8
15             4            21            37            12
16             4            29            40             8
17             4            30            41            50
18             4             5            42            87
19             4             5            43            19
20             4            80           NaN           NaN
21             4            23           NaN           NaN
22             5             8           NaN           NaN
23            11            10           NaN           NaN
24            33            32           NaN           NaN
25             4            14           NaN           NaN
26             4            34           NaN           NaN
27            58            35           NaN           NaN
28             4            10           NaN           NaN
29             4            81           NaN           NaN
30             4            36           NaN           NaN
31             4            82           NaN           NaN
32             4            83           NaN           NaN
33             4            37           NaN           NaN
34             4             3           NaN           NaN
35             4            21           NaN           NaN
36            88            84           NaN           NaN
37            89             3           NaN           NaN
38             4            15           NaN           NaN
39            38            13           NaN           NaN
40             4            30           NaN           NaN
41             4             8           NaN           NaN
42             4             8           NaN           NaN
43            90            85           NaN           NaN

In [ ]:
df7

NameError: name 'df7' is not defined

In [ ]:
df8.describe

<bound method NDFrame.describe of    ingredient1_2 ingredient2_2 ingredient3_1 ingredient3_2
0              4            17             0            18
1              4            74             1            10
2              4            75             3            19
3              4            76             6            86
4              4            77             8            17
5              4            17             9            26
6              4            78            11             8
7              4            25            12             8
8              4             5            15             8
9              4            79            17             8
10             4            43            18             7
11             4            24            19             8
12             4            27            22            31
13             4             5            28            16
14             4            28            33             8
15             4            21            37            12
16             4            29            40             8
17             4            30            41            50
18             4             5            42            87
19             4             5            43            19
20             4            80           NaN           NaN
21             4            23           NaN           NaN
22             5             8           NaN           NaN
23            11            10           NaN           NaN
24            33            32           NaN           NaN
25             4            14           NaN           NaN
26             4            34           NaN           NaN
27            58            35           NaN           NaN
28             4            10           NaN           NaN
29             4            81           NaN           NaN
30             4            36           NaN           NaN
31             4            82           NaN           NaN
32             4            83           NaN           NaN
33             4            37           NaN           NaN
34             4             3           NaN           NaN
35             4            21           NaN           NaN
36            88            84           NaN           NaN
37            89             3           NaN           NaN
38             4            15           NaN           NaN
39            38            13           NaN           NaN
40             4            30           NaN           NaN
41             4             8           NaN           NaN
42             4             8           NaN           NaN
43            90            85           NaN           NaN>